<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left uk-padding-small">Quiz App</div>
    <div class="uk-navbar-right uk-padding-small">
        <a href="/" class="uk-margin-medium-right">Home</a>
        {% if user %}
            <p>
                <a href="/profile">
                    Hello, {{ user.name }}
                </a> 
            </p>
            <p><a data-request="onLogout" data-request-data="redirect: '/'">Sign Out</a></p>
        {% else %}
            <a href="{{ 'login'|page }}" data-request-data="redirect: '/'">Login</a>
        {% endif %}
    </div>
</nav>